.main {
  max-width: 350px;
  margin: 20px auto;
}

.form-div {
  text-align: center;
}

.todo-list {
  margin: 15px 0 0 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

li {
  padding: 5px;
}

input[type="checkbox"] {
  margin-right: 10px;
}

.delete-todo {
  font-size: 14px;
  margin-left: 5px;
  padding: 4px 7px;
  background: orangered;
  color: white;
  cursor: pointer;
}

.complete {
  text-decoration: line-through;
}
